extends layout

block content
  div.container
    h1= title
    nav.nav.flex-column.position-absolute.absolute-left-top.gap-1
      a.nav-link.link-hover(href='/products') All Products
      each category in category_list 
        a.nav-link.link-hover(href=category.url) #{category.name}
      
      a.nav-link.link-hover(href='category/create') + Create New Category
    
