extends layout

block content
  div.container
    h1 #{title} Guitars
    div.d-flex.flex-wrap.gap-2.justify-content-center
      each product in products_list
        div.product-card
          a(href=product.url) #{product.name}