html,
body {
  background-color: rgb(33,29,38);
}

body {
  color: #eee;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
}

h1 {
  margin-bottom: 2rem;
}

a {
  color: inherit;
  transition: all 0.2s linear;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

.home-button {
  color: #eee;
  left: 0.5rem;
  position: absolute;
  top: 1.4rem;
  transition: all 0.2s linear;
}

.home-button:hover {
  color: rgb(120, 245, 120);
  font-size: 1.1rem;
}

.absolute-left-top {
  left: 1rem;
  top: 5.75rem;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.link-hover {
  color: #eee;
  transition: all 0.2s linear;
}

.link-hover:hover {
  background-color: rgb(45, 38, 54);
  color: #eee;
}

.product-card {
  background-color: rgb(35,33,40);
  border: 1px solid rgba(238, 238, 238, 0.1);
  border-radius: 5px;
  min-width: 12rem;
  text-align: center;
  transition: all 0.2s linear;
  
}

.product-card:hover {
  background-color: rgb(42,39,48);
  border: 1px solid rgba(238, 238, 238, 0.3);
  cursor: pointer;
}

.product-link {
  line-height: 6rem;
  padding: 2.5rem 2rem;
}

.product-wrapper {
  background-color: rgb(35,33,40);
  border: 1px solid rgba(238, 238, 238, 0.1);
  border-radius: 5px;
  padding: 2.5rem 2rem;
}

.product-detail-button {
  min-width: 100px;
}

.link-fill {
  display: block;
  height: 100%;
  line-height: 4rem;
}

.link-fill-sm {
  display: block;
  height: 100%;
  line-height: 2.1rem;
}

.button-wrapper {
  height: 3rem;
}

.create-link {
  color: rgb(15, 148, 15);
  font-weight: 800;
  transition: all 0.2s linear;
}

.create-link:hover {
  color: rgb(153, 218, 153);
}

.addon-bg-dark {
  background-color: rgb(42, 38, 48);
}

.no-border {
  border: none;
}

.product-title {
  flex: 1;
  text-align: center;
}

.product-image-wrapper {
  flex: 1;
}

.product-info-wrapper {
  flex: 1;
}

.divider-line {
  background-color: rgba(255, 255, 255, 0.37);
  margin-bottom: 3rem;
}

.product-price {
  font-size: 3.6rem;
  font-weight: 600;
  margin-left: 1.5rem;
}

.product-description {
  line-height: 1.25rem;
}

.product-inStock {
  align-self: flex-start;
  color: rgb(10, 172, 10);
  font-size: 1.6rem;
  font-weight: 600;
  margin-left: 1.5rem;
  text-align: start;
}

.product-outOfStock {
  align-self: flex-start;
  color: red;
  font-size: 1.6rem;
  font-weight: 600;
  margin-left: 1.5rem;
  text-align: start;
}