html,
body {
  background-color: rgb(33,29,38);
}

body {
  color: #eee;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
}

h1 {
  margin-bottom: 2rem;
}

a {
  color: inherit;
  transition: all 0.2s linear;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

.home-button {
  border: 1px solid rgb(58, 163, 204);
  border-radius: 2px;
  color: rgb(58, 163, 204);
  font-size: 1rem;
  font-weight: 700;
  left: 1.4rem;
  position: absolute;
  top: 1.4rem;
  transition: all 0.5s ease;
}

.home-button:hover {
  background-color: rgb(36,32,59);
  border-radius: 4px;
  color: rgb(0, 183, 255);
}

.nav-title {
  color: rgb(58, 163, 204);
  margin: 0.2rem 0;
  text-indent: 0.75rem;
}

.nav-title::before,
.nav-title::after {
  content: ' -- ';
  opacity: 0.5;
}

.absolute-left-top {
  left: 2rem;
  top: 5.75rem;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.link-hover {
  color: #eee;
  transition: all 0.2s linear;
}

.link-hover:hover {
  background-color: rgb(45, 38, 54);
  color: #eee;
}

.product-card {
  border-radius: 5px;
  min-height: 420px;
  padding-top: 0.5rem;
  transition: all 0.2s linear;
}

.product-card:hover {
  cursor: pointer;
}

.product-card > p {
  max-width: 75%;
  word-wrap: break-word;
}

.product-link {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 24%;
  padding: 0.5rem 0 1rem 0;
  transition: all 0.2s ease-in-out;
}

.product-link:hover {
  box-shadow: rgb(0 0 0 / 40%) 0px 0px 10px;
}

.product-wrapper {
  background-color: rgb(35,33,40);
  border: 1px solid rgba(238, 238, 238, 0.1);
  border-radius: 5px;
  padding: 2.5rem 2rem;
}

.product-detail-button {
  min-width: 100px;
}

.category-link {
  align-items: center;
  border: 2px solid rgba(204, 204, 204, 0);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  transition: all 0.2s linear;
}

.category-link:hover {
  border: 2px solid rgba(204, 204, 204, 0.25);
}

.link-fill {
  display: block;
  height: 100%;
  line-height: 4rem;
}

.link-fill-sm {
  display: block;
  height: 100%;
  line-height: 2.1rem;
}

.button-wrapper {
  height: 3rem;
}

.create-link {
  color: rgb(21, 197, 21);
  font-weight: 800;
  transition: all 0.2s linear;
}

.create-link:hover {
  color: rgb(153, 218, 153);
}

.addon-bg-dark {
  background-color: rgb(42, 38, 48);
}

.no-border {
  border: none;
}

.product-title {
  flex: 1;
  text-align: center;
}

.product-image-wrapper {
  flex: 1;
}

.product-info-wrapper {
  flex: 1;
}

.divider-line {
  background-color: rgba(255, 255, 255, 0.37);
  margin-bottom: 3rem;
}

.product-price {
  font-size: 3.6rem;
  font-weight: 600;
  margin-left: 1.5rem;
}

.product-description {
  line-height: 1.25rem;
}

.product-inStock {
  align-self: flex-start;
  color: rgb(10, 172, 10);
  font-size: 1.6rem;
  font-weight: 600;
  margin-left: 1.5rem;
  text-align: start;
}

.product-outOfStock {
  align-self: flex-start;
  color: red;
  font-size: 1.6rem;
  font-weight: 600;
  margin-left: 1.5rem;
  text-align: start;
}

.error-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.error-wrapper > pre {
  color: #ddd;
}